@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.dark_bg {
  background-color: black;
}
.select_your_best_five {
  font-family: "Satisfy", cursive;
  color: orangered;
  font-weight: bold;
}
.card {
  background-color: black;
}
.calculate-per-player {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
input.calculate-per-player-input {
  width: 135px;
}
.full-budget {
  width: 230px;
  margin: auto;
}
.player-list li {
  list-style-type: none;
}
