@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.dark_bg {
  background-color: black;
}
.select_your_best_five {
  font-family: "Satisfy", cursive;
  color: orangered;
  font-weight: bold;
}
.card {
  background-color: black;
}
